{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comme:wght@200;800&family=Great+Vibes&family=Raleway:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Avatar Creator</title>
</head>
<body>
    <div class ="wrapper">

        <nav>
            <div class="container">
            <ul>
            <input type="text" id="search" name="search" placeholder="search avatar">

            {%if request.user.is_authenticated%}
            <li>{{user.username}}</li>
            <li> | </li>
            <a href="{% url 'logout' %}"> <li>Log out</li></a>
            <li> | </li>
            {% else %}
            <a href="{% url 'login' %}"> <li>Log in</li></a>
            <li> | </li>
            {%endif%}
            <a href="{% url 'signup' %}"> <li>Sign up</li></a>

        </ul>
    </div>
    </nav>

    <main class="container">
        {%block content%} 

        {%endblock content%}
        
    </main>

    <footer>Project by Alla Nudelman in Development.Institute</footer>
    
</div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>