{%extends 'base.html'%}
{%load static%} 

{%block content%} 
    <div id="row-main">
        <p class="title"> WHO ARE YOU TODAY?</p>
        <div id="big-content">
                <div class="big-card">
                    <div class="big-element-img">
                        <img id ="expandedImg-face">
                    </div>
                    <div class="big-element-img">
                        <img id ="expandedImg-eyes">
                    </div>
                    <div class="big-element-img">
                        <img id ="expandedImg-details">
                    </div>
                    <div class="big-element-img">
                        <img id ="expandedImg-hair">
                    </div>
                </div>
        </div>

        <div id="content">

        </div>
            
        <button type="button" class="button" id ="next">Next</button>
        <button type="button" class="button" id ="save">Save</button>
        
        <p class="title">AVATARS GALLERY</p>

        <div id="gallery">

        </div>

    </div>
{%endblock content%}
