{%extends 'base.html'%}

{%block title%}
Sign up
{%endblock%}
    {%block content%}
    <form method="POST" novalidate class="form">
        {%csrf_token%}
        {% for field in form %}
        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
             {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <button type="submit"> Sign up </button>

    </form>
    {%endblock content%}